body{
    margin: 0;
    padding: 0;
    background-image: url(original.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.top-bar{
    color: white;
    font-size: 50px;
    height: 100px;
    width:100%;
    background-color: black;
    overflow:auto;
}
p{
    font-size: 45px;
    margin-top: 20px;
    margin-bottom: 0px;
    margin-right:800px;
    margin-left: 100px;
}

.search-bar{
    size: 127px;
    margin-top: 50px;
    position: absolute;
    
    height: 30px;
    width: 450px;
    font-size: 40px;
    border: black;
    margin-left: 810px;
}

#search-btn{
    color: black;
    align-items: center;
    float:right;
    margin-right: 145px;
    display: flex;
    justify-content: center;
    display: block;
    font-family: 'Times New Roman', Times, serif;
    border-radius: 30px; 
    font-size: 25px;
    margin-right: 40px;

}
.side-bar{
    position: fixed;
    left:0;
    width: 20%;
    height:100%;
    background: lightgrey;
    font-size: 35px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin-bottom: 30px;
    text-decoration: none;
}
.side-bar header{
    font-size: 40px;
    color: black;
    line-height: 70px;
    user-select: none;
    text-align: center;
    background-color: darkgray;
}
.side-bar-options{
    display: block;
    text-decoration: none;
    font-size: 20px;
    color: black;
    padding-left: 40px;
    box-sizing: border-box;
    transition:.4s;
    font-family: lato;
    float: left;
    color:black;
    padding: 25px;
    text-align: center;
    font-size: 27px;
}

